# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

#php
vendor/
vendor/.*
build/

# Logs
logs/
*.log
*.log.*

# Betriebssystem spezifisch
.DS_Store
Thumbs.db

# Editor/IDE spezifisch
.idea/
.vscode/
*.swp
*.swo

# Umgebungsvariablen und Secrets
.env
.env.local
.env.*.local
